@import url('https://marco4413.github.io/static/css/light.css');

body {
    margin-bottom: 5em;
}

div {
    margin: 0.5em;
}

.collapsed {
    visibility: collapse;
}

.stdout {
    box-sizing: border-box;

    overflow: auto;
    min-height: 5em;
    height: 60vh;
    border: solid var(--background-color-dark) 2.5px;

    padding: 0.5em;
}

.stdout > * {
    margin: 0px;
    padding: 0px;
}

.stdin-container {
    display: flex;
    margin: 0.5em;
}

.stdin {
    flex-grow: 1;
}

.resize-bar {
    box-sizing: border-box;
    height: 6pt;

    cursor: ns-resize;

    border-style: solid;
    border-width: 1.5pt 0 1.5pt 0;
    border-color: var(--background-color-dark);
}

.resize-bar:hover {
    border-color: var(--hover-color-light);
}

.resize-bar.resize-bar-drag {
    border-color: var(--press-color-light);
}

#script-label {
    background-color: var(--background-color-dark);
    border-radius: 5px;
    padding: 3px;
}

#script-label:hover {
    background-color: var(--hover-color-light);
}

#report {
    white-space: pre-wrap;
}
