@import url('https://marco4413.github.io/static/css/light.css');

div {
    margin: 0.5em;
}

.stdout {
    overflow: auto;
    height: 60vh;
    border: solid var(--background-color-dark) 2.5px;

    padding: 0.5em;
}

.stdout > * {
    margin: 0px;
    padding: 0px;
}

.stdin-container {
    display: flex;
    margin: 0.5em;
}

.stdin {
    flex-grow: 1;
}

#script-label {
    background-color: var(--background-color-dark);
    border-radius: 5px;
    padding: 3px;
}

#script-label:hover {
    background-color: var(--hover-color-light);
}

#error-report {
    white-space: pre-wrap;
}
